
{{> navbar}}





<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body style="background-color: rgb(0, 0, 0);text-decoration: underline; color:whitesmoke;">
    
<br><br><br><br>

<h1 style="text-align: center;">Referencia de precios</h1>

<br><br><br><br>

<div>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Coca-cola</td>
            <td>$250</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Galletitas Don Satur</td>
            <td>$50</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Chocolate Milka 60 gr</td>
            <td>$120</td>
          </tr>
        </tbody>
      </table>
    </div>

<br><br><br><br>

    <div style="text-align:center;">
        <a href="./input.html">
            <button type="button" class="btn btn-outline-dark">Toque aqui para actualizar tabla</button>
        </a>
    </div>
